*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    background-image: url('green.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
    color: white; 
    line-height: 1.5;
}
h1, h2{
    color: white;
    margin-bottom: 15px; 
}
p{
    color: white;
    margin-bottom: 10px; 
    max-width: 75ch; 
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
    color: white;
    margin: 0px 10px;
    transition: color 0.3s; 
}
a:hover {
    color: #bdf7b5; 
}


header{
    padding: 20px 5%; 
    background-color:#5d9453;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky; 
    top: 0;
}
header > *{
    
}
h1{ margin-bottom: 0px; }


article {
    padding: 40px 5%; 
    margin-bottom: 15px;
}

.banner {
    padding: 10% 5%; 
    font-size: 30px;
    background-color: #9ec297;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; 
    text-align: center;
}
.banner img {
    width: 150px; 
    height: auto;
}


.media-container {
    display: flex !important;
    justify-content: center; 
    gap: 20px; 
    flex-wrap: wrap; 
    margin-top: 20px; 
    max-width: 800px; 
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    color: white;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
    font-style: italic;
}


#mission{
    background-color:#bdf7b5;
}

#projects {
    background-color: #208c3f;
}

#info {
    background-color: #6e9167;
}


#mission p, #mission div,
#projects p, #projects div,
#info p, #info div {
    vertical-align: middle;
    color: white;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
}


.media-container figure {
    display: block;
    margin: 0; 
    flex: 1; 
    min-width: 200px;
}

#mission img {
    margin-top: 15px; 
}


figure img,
figure video {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; 
    max-height: 300px; 
    width: auto;
}


#contact{
    background-color:#1e7818;
    padding: 20px 5%; 
    font-size: 16px; 
    text-align: center;
    color: white;
}
